{% extends 'base.html' %}
{% block title %}
  BlogPost
{% endblock %}

{% block body %}
  {% load humanize %}
  {% load extras %}
  <h3 class="text-center my-4">Post In DEtails</h3>
  <div class="container center d-flex justify-content-center align-items-center my-4">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post.author}}</strong>
          <h3 class="mb-0">{{ post.title}}</h3>
          <div class="mb-1 text-body-secondary">{{ post.time_stamp }} <span>({{post.views}} views)</span> </div>
          <p class="card-text mb-auto">{{ post.content|safe }}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-md-6">
    <h2>Comments ({{ comments.count }})</h2>
    {% if user.is_authenticated %}
      <form method="post" action="/blog/postcomment">
        {% csrf_token %}

        <div class="mb-3">
          <label for="comment" class="form-label">Enter Yout Comment</label>
          <input type="text" class="form-control" id="comment" name="comment" />
        </div>
        <input type="hidden" name="replySno" value="">
        <input type="hidden" name="postSno" value="{{ post.sno }}" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      {% for comment in comments %}
        <div class="row my-2">
          <div class="col-md-1">
            <img class="w-100" src="/static/img/user.jpg" alt="user" />
          </div>
          <div class="col-md-11">
            <div>
              <b>{{ comment.user }}</b> <span class="badge bg-secondary">{{ comment.timestamp|naturaltime }}</span>
            </div>{{ comment.comment }}
            <p class="d-inline-flex gap-1">
              <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Reply</button>
            </p>
            <div class="collapse" id="replyBox{{comment.sno}}">
              <div class="card card-body my-2">
                <form method="post" action="/blog/postcomment">
                  {% csrf_token %}

                  <div class="mb-3">
                    <label for="comment" class="form-label">Reply</label>
                    <input type="text" class="form-control" id="comment" name="comment" />
                    <input type="hidden" name="replySno" value="{{comment.sno}}">
                  </div>
                  <input type="hidden" name="postSno" value="{{ post.sno }}" />
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
            <div class="replies my-2">
              {% for reply in replyDict|get_val:comment.sno %}
              <div class="row my-2">
                <div class="col-md-1">
                  <img class="w-100" src="/static/img/user.jpg" alt="user">
                </div>
                <div class="col-md-11">
                  <b>{{reply.user.username}}</b> <span class="badge badge-secondary">{{reply.timestamp|naturaltime}}</span>
                  <div>{{reply.comment}}</div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>
        If You Want to see comments and You want to write Comments . <b>Sign IN</b>
      </p>
    {% endif %}
  </div>
{% endblock %}
