<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <style>
      .navbar-toggler{
        background-color: #ece4e4;
      }
      {% block css%}  {% endblock %}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg text-bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">Jamal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light{% block homeactive %}
                {% endblock %} "
                aria-current="page"
                href="/">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light{% block aboutactive %}
                {% endblock %} "
                href="/about">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light{% block blogactive %}
                {% endblock %}"
                href="/blog">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light{% block contactactive %}
                {% endblock %}"
                href="/contact">
                Contact
              </a>
            </li>
          </ul>
          <form method="get" action="/search" class="d-flex" role="search">
            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" name="query" id="query" />
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
          </form>
          {% if user.is_authenticated %}
          <div class="dropdown mr-2" >
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{request.user}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item " href="/logout">LogOut</a></li>
            </ul>
          </div>
          
          {% else %}
          <!-- Button trigger signIn  modal -->
          <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#signin">SignIn</button>

          <!-- Button trigger signUp  modal -->
          <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#signup">SignUp</button>
          {% endif %}
        </div>
      </div>
    </nav>
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Important Message :</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <!-- sign Up Modal -->
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signup" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="signupTitle">SignUp</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="/signup"> {% csrf_token %}
              <div class="mb-3">
                <label for="fname" class="form-label">First Name </label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Fist Name" required>
              </div>
              <div class="mb-3">
                <label for="lname" class="form-label">Last Name </label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name" required>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
              </div>
              <div class="mb-3">
                <label for="pass1" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Password" required>
              </div>
              <div class="mb-3">
                <label for="pass2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter Password Again" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

     <!-- sign In Modal -->
     <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="signin" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="signinTitle">SignIn</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="/login"> {% csrf_token %}
              <div class="mb-3">
                <label for="loginusername" class="form-label">Username</label>
                <input type="text" class="form-control" id="loginusername" name="loginusername" aria-describedby="emailHelp" required>
              </div>
              <div class="mb-3">
                <label for="loginpassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginpassword" name="loginpassword" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% block body %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
